<!-- Post Content -->
<!-- Highligh.js CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/styles/monokai_sublime.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {{#if user}}
                    <p>
                        <a href="/post/remove/{{nameUrl}}">[Odstranit]</a>
                        <a href="/post/edit/{{nameUrl}}">[Upravit]</a>
                    </p>
                {{/if}}

                <p>
                {{#each (generateLabels labels labelIds)}}
                    <span class="label label-labels">{{.}}</span>
                {{/each}}</p>

                <div
                  class="fb-like"
                  data-share="true"
                  data-width="450"
                  data-show-faces="true">
                </div>

                {{{body}}}

                <h2>Komentáře</h2>
                <div class="fb-comments" data-numposts="5" data-width="100%"></div>
            </div>
        </div>
    </div>
</article>
